html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
body > .container {
  padding: 60px 15px 0;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
code {
  font-size: 80%;
}
.NavLink {
  color: #fff;
  padding-left: 15px;
  text-decoration: none;
}
.NavLink:hover {
  color: #fff;
}
.NaveItemText {
  color: #fff;
  margin-top: 5px;
  margin-right: 10px;
}
.logoutButton {
  color: #fff;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 20px;
}
.hdravatarURL {
  width: 50px;
}
